* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Inter, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #dcd7ba;
    padding-top: 1px;
    padding-bottom: 1px;
}

window#waybar {
    background-color: rgba(31, 31, 40, 0);
}

.modules-center {
    padding-left: 4px;
    padding-right: 4px;
}

button {
    box-shadow: inset 0 -3px transparent;
    background: rgba(31, 31, 40, 0.8);
    border-radius: 4px;
    margin: 0px;
}

#workspaces button {
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

#workspaces button:hover {
    color: #7e9cd8;
    font-weight: bold;
    border: 2px solid #7e9cd8;
    border-radius: 4px;
}

#workspaces button.active {
    font-weight: bold;
    border: 2px solid #7e9cd8;
    border-radius: 4px;
}

#window {
    border: 2px solid transparent;
    border-radius: 4px;
    background-color: rgba(31, 31, 40, 0.8);
    /* background-color: rgba(31, 31, 40, 0.8); */
    padding-left: 4px;
    padding-right: 4px;
}

#clock {
    border: 2px solid transparent;
    border-radius: 4px;
    background-color: rgba(31, 31, 40, 0.8);
    padding-left: 4px;
    padding-right: 4px;
}

#language {
    border: 2px solid transparent;
    border-radius: 4px;
    background-color: rgba(31, 31, 40, 0.8);
    padding-left: 4px;
    padding-right: 4px;
}

#submap {
    border: 2px solid transparent;
    border-radius: 4px;
    background-color: rgba(31, 31, 40, 0.8);
    padding-left: 4px;
    padding-right: 4px;
}

#bluetooth {
    border-radius: 4px;
    background-color: rgba(31, 31, 40, 0.8);
    color: #7e9cd8;
    padding-left: 4px;
    padding-right: 4px;
}

#bluetooth.disabled {
    color: #888888;
}

#bluetooth.no-controller {
    color: #e82424;
}

#bluetooth.off {
    color: #dcd7ba;
}

#bluetooth.connected {
    color: #98bb6c;
}

#pulseaudio {
    border-radius: 4px;
    background-color: rgba(31, 31, 40, 0.8);
    padding-left: 4px;
    padding-right: 4px;
}

#pulseaudio.bluetooth {
    color: #7e9cd8;
}

#pulseaudio.ok {
    color: #98bb6c
}

#pulseaudio.warning {
    color: #ff9e3b
}

#pulseaudio.critical {
    color: #e82424
}

#network {
    border-radius: 4px;
    background-color: rgba(31, 31, 40, 0.8);
    padding-left: 4px;
    padding-right: 4px;
}

#power-profiles-daemon {
    border-radius: 4px;
    background-color: rgba(31, 31, 40, 0.8);
    padding-left: 4px;
    padding-right: 4px;
}

#power-profiles-daemon.power-saver {
    color: #98bb6c;
}

#power-profiles-daemon.balanced {
    color: #7e9cd8;
}

#power-profiles-daemon.performance {
    color: #ff9e3b;
}

#cpu {
    border-radius: 4px;
    background-color: rgba(31, 31, 40, 0.8);
    padding-left: 4px;
    padding-right: 4px;
}

#cpu.low {
    color: #7e9cd8;
}

#cpu.ok {
    color: #98bb6c;
}

#cpu.high {
    color: #dca561;
}

#cpu.warning {
    color: #ff9e3b;
}

#cpu.critical {
    color: #e82424;
}

#memory {
    border-radius: 4px;
    background-color: rgba(31, 31, 40, 0.8);
    padding-left: 4px;
    padding-right: 4px;
}

#memory.low {
    color: #7e9cd8;
}

#memory.ok {
    color: #98bb6c;
}

#memory.high {
    color: #dca561;
}

#memory.warning {
    color: #ff9e3b;
}

#memory.critical {
    color: #e82424;
}

#temperature {
    border-radius: 4px;
    background-color: rgba(31, 31, 40, 0.8);
    padding-left: 4px;
    padding-right: 4px;
}

#temperature.critical {
    color: #e82424;
}

#disk {
    border-radius: 4px;
    background-color: rgba(31, 31, 40, 0.8);
    padding-left: 4px;
    padding-right: 4px;
}

#disk.high {
    border: 2px solid #dca561;
    color: #dca561;
}

#disk.warning {
    border: 2px solid #ff9e3b;
    color: #ff9e3b;
}

#disk.critical {
    border: 2px solid #e82424;
    color: #e82424;
}

#backlight {
    border-radius: 4px;
    background-color: rgba(31, 31, 40, 0.8);
    padding-left: 4px;
    padding-right: 4px;
}

#battery {
    border-radius: 4px;
    background-color: rgba(31, 31, 40, 0.8);
    padding-left: 4px;
    padding-right: 4px;
}

#battery.good {
    border: 2px solid #7e9cd8;
    color: #7e9cd8;
}

#battery.warning {
    border: 2px solid #ff9e3b;
    color: #ff9e3b;
}

#battery.critical {
    border: 2px solid #e82424;
    color: #e82424;
}

#battery.charging {
    border: 2px solid #7e9cd8;
    color: #7e9cd8
}

#battery.full {
    color: #98bb6c;
}
