* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Inter, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

window#waybar {
    color: #cccccc;
    background-color: rgba(16, 16, 16, 0);
    /* transition-property: background-color; */
    /* transition-duration: .5s; */
}

button {
    box-shadow: inset 0 -3px transparent;
    background: rgba(22, 22, 22, 0.8);
    color: #cccccc;
    border-radius: 5px;
    margin: 0px;
}

#workspaces button {
    color: #cccccc;
    border-radius: 5px;
}

#workspaces button:hover {
    background: rgba(22, 22, 22, 0.8);
    color: #77cc44;
    font-weight: bold;
    border: 2px solid #77cc44;
    border-radius: 5px;
}

#workspaces button.active {
    color: #cccccc;
    font-weight: bold;
    border: 2px solid #77cc44;
    border-radius: 5px;
}

#window {
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: rgba(16, 16, 16, 0.8);
    padding-left: 5px;
    padding-right: 5px;
}

#clock {
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: rgba(16, 16, 16, 0.8);
    padding-left: 5px;
    padding-right: 5px;
}

#language {
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: rgba(16, 16, 16, 0.8);
    padding-left: 5px;
    padding-right: 5px;
}

#submap {
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: rgba(16, 16, 16, 0.8);
    padding-left: 5px;
    padding-right: 5px;
}

#bluetooth {
    border: 2px solid #55aaff;
    border-radius: 5px;
    background-color: rgba(16, 16, 16, 0.8);
    color: #55aaff;
    padding-left: 5px;
    padding-right: 5px;
}

#bluetooth.disabled {
    border: 2px solid #ff0000;
    color: #ff0000;
}

#bluetooth.no-controller {
    border: 2px solid #ff0000;
    color: #ff0000;
}

#bluetooth.off {
    border: 2px solid #aaaaaa;
    color: #aaaaaa;
}

#bluetooth.connected {
    border: 2px solid #77cc44;
    color: #77cc44;
}

#pulseaudio {
    border-radius: 5px;
    background-color: rgba(16, 16, 16, 0.8);
    padding-left: 5px;
    padding-right: 5px;
}

#pulseaudio.bluetooth {
    border: 2px solid #2aa9ff;
    color: #2aa9ff;
}

#pulseaudio.ok {
    border: 2px solid #77cc44;
    color: #77cc44
}

#pulseaudio.warning {
    border: 2px solid #eebb44;
    color: #eebb44
}

#pulseaudio.critical {
    border: 2px solid #ff0000;
    color: #ff0000
}

#network {
    border-radius: 5px;
    background-color: rgba(16, 16, 16, 0.8);
    padding-left: 5px;
    padding-right: 5px;
}

#cpu {
    border-radius: 5px;
    background-color: rgba(16, 16, 16, 0.8);
    padding-left: 5px;
    padding-right: 5px;
}

#cpu.chill {
    color: #cccccc;
}

#cpu.low {
    color: #2aa9ff;
}

#cpu.ok {
    border: 2px solid #44bb99;
    color: #44bb99;
}

#cpu.average {
    border: 2px solid #77cc44;
    color: #77cc44;
}

#cpu.demanding {
    border: 2px solid #eebb44;
    color: #eebb44;
}

#cpu.loaded {
    border: 2px solid #ff7722;
    color: #ff7722;
}

#cpu.high {
    border: 2px solid #dd5511;
    color: #dd5511;
}

#cpu.critical {
    border: 2px solid #ff0000;
    color: #ff0000;
}

#memory {
    border-radius: 5px;
    background-color: rgba(16, 16, 16, 0.8);
    padding-left: 5px;
    padding-right: 5px;
}

#memory.chill {
    color: #cccccc;
}

#memory.low {
    color: #2aa9ff;
}

#memory.ok {
    border: 2px solid #44bb99;
    color: #44bb99;
}

#memory.average {
    border: 2px solid #77cc44;
    color: #77cc44;
}

#memory.demanding {
    border: 2px solid #eebb44;
    color: #eebb44;
}

#memory.loaded {
    border: 2px solid #ff7722;
    color: #ff7722;
}

#memory.high {
    border: 2px solid #dd5511;
    color: #dd5511;
}

#memory.critical {
    border: 2px solid #ff0000;
    color: #ff0000;
}

#temperature {
    border-radius: 5px;
    background-color: rgba(16, 16, 16, 0.8);
    padding-left: 5px;
    padding-right: 5px;
}

#temperature {
    color: #cccccc;
}

#temperature.critical {
    border: 2px solid #ff0000;
    color: #ff0000;
}

#disk {
    border-radius: 5px;
    background-color: rgba(16, 16, 16, 0.8);
    padding-left: 5px;
    padding-right: 5px;
}

#disk.low {
    color: #cccccc;
}

#disk.warning {
    border: 2px solid #eebb44;
    color: #eebb44;
}

#disk.high {
    border: 2px solid #ff7722;
    color: #ff7722;
}

#disk.critical {
    border: 2px solid #ff0000;
    color: #ff0000;
}

#backlight {
    border-radius: 5px;
    background-color: rgba(16, 16, 16, 0.8);
    padding-left: 5px;
    padding-right: 5px;
}

#backlight.one {
    border: 2px solid #cc9922;
    color: #cc9922;
}

#backlight.two {
    border: 2px solid #c59a3e;
    color: #c59a3e;
}

#backlight.three {
    border: 2px solid #bc9c59;
    color: #bc9c59;
}

#backlight.four {
    border: 2px solid #b39f75;
    color: #b39f75;
}

#backlight.five {
    border: 2px solid #aba191;
    color: #aba191;
}

#backlight.six {
    border: 2px solid #a2a3ac;
    color: #a2a3ac;
}

#backlight.seven {
    border: 2px solid #99a6c8;
    color: #99a6c8;
}

#backlight.eight {
    border: 2px solid #91a8e4;
    color: #91a8e4;
}

#backlight.nine {
    border: 2px solid #88aaff;
    color: #88aaff;
}

#battery {
    border-radius: 5px;
    background-color: rgba(16, 16, 16, 0.8);
    padding-left: 5px;
    padding-right: 5px;
}

#battery.good {
    border: 2px solid #77cc44;
    color: #77cc44;
}

#battery.warning {
    border: 2px solid #eebb44;
    color: #eebb44;
}

#battery.critical {
    border: 2px solid #ff0000;
    color: #ff0000;
}

#battery.charging {
    border: 2px solid #55aaff;
    color: #55aaff
}

#battery.full {
    color: #77cc44;
}
