* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Inter, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

window#waybar {
    background-color: rgba(16, 16, 16, 0.8);
    color: #cccccc;
    transition-property: background-color;
    transition-duration: .5s;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
    background-color: rgba(22, 22, 22, 0.8);
    color: #cccccc;
}

button:hover {
    background: rgba(22, 22, 22, 0.8);
    box-shadow: inset 0 -3px #77cc44;
}

#workspaces button.active {
    background-color: #77cc44;
    box-shadow: inset 0 -3px #000000aa;
    color: #000;
}

#bluetooth {
    color: #55aaff;
}

#bluetooth.disabled {
    color: #ff0000;
}

#bluetooth.no-controller {
    color: #ff0000;
}

#bluetooth.off {
    color: #aaaaaa;
}

#bluetooth.connected {
    color: #77cc44;
}

#pulseaudio.bluetooth {
    color: #2aa9ff;
}

#pulseaudio.ok {
    color: #77cc44
}

#pulseaudio.warning {
    color: #eebb44
}

#pulseaudio.critical {
    color: #ff0000
}

#cpu.chill {
    color: #cccccc;
}

#cpu.low {
    color: #2aa9ff;
}

#cpu.ok {
    color: #44bb99;
}

#cpu.average {
    color: #77cc44;
}

#cpu.demanding {
    color: #eebb44;
}

#cpu.loaded {
    color: #ff7722;
}

#cpu.high {
    color: #dd5511;
}

#cpu.critical {
    color: #ff0000;
}

#memory.chill {
    color: #cccccc;
}

#memory.low {
    color: #2aa9ff;
}

#memory.ok {
    color: #44bb99;
}

#memory.average {
    color: #77cc44;
}

#memory.demanding {
    color: #eebb44;
}

#memory.loaded {
    color: #ff7722;
}

#memory.high {
    color: #dd5511;
}

#memory.critical {
    color: #ff0000;
}

#temperature {
    color: #cccccc;
}

#temperature.critical {
    color: #ff0000;
}

#disk.low {
    color: #cccccc;
}

#disk.warning {
    color: #eebb44;
}

#disk.high {
    color: #ff7722;
}

#disk.critical {
    color: #ff0000;
}

#backlight.one {
    color: #cc9922;
}

#backlight.two {
    color: #c59a3e;
}

#backlight.three {
    color: #bc9c59;
}

#backlight.four {
    color: #b39f75;
}

#backlight.five {
    color: #aba191;
}

#backlight.six {
    color: #a2a3ac;
}

#backlight.seven {
    color: #99a6c8;
}

#backlight.eight {
    color: #91a8e4;
}

#backlight.nine {
    color: #88aaff;
}

#battery.good {
    color: #77cc44;
}

#battery.warning {
    color: #eebb44;
}

#battery.critical {
    color: #ff0000;
}

#battery.charging {
    color: #55aaff
}

#battery.full {
    color: #77cc44;
}
